Flask==1.1.2
graphviz==0.10.1
h5py==2.10.0
matplotlib==3.2.2
matplotlib-venn==0.11.5
multiprocess==0.70.10
multitasking==0.0.9
numpy==1.18.5
pandas==1.1.2
pandas-datareader==0.9.0
pandas-gbq==0.13.2
pandas-profiling==1.4.1
pip-tools==4.5.1
requests==2.23.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
sklearn-pandas==1.8.0
tensorflow==2.3.0
Theano==1.0.5
